#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: aliceblue;
}


.albumPlayer {
  display: flex;
  align-items: flex-start;
}
.selected-album-img {
  width: 40%;
  height:40%;
}
.selectAlbum {
  text-align: right;
}
.playList {
  text-align: left;
}
.album {
  display: flex;
  align-items: center;
}
.album:hover {
  background-color: darkslateblue;
  cursor: pointer;
  
}
.small-image {
  max-width: 100%;
  height: auto;
  margin: 5px;
}
.round-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: red;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.songName {
  text-align: left;
}